/* 기본 글로벌 스타일 */
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
 }
 
 .nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
 }

main {
  height: 2300px;
  background-color: #ffffff;
  font-family: NanumBarunGothic
}

/* 헤더 스타일 */
header {
    font-family: NanumBarunGothic;
    background-color: #ffffff;
    padding: 10px 30px;
    border-bottom: 1px solid #C6C6C6;
}

nav ul {
  list-style: none;
  padding-left: 60px;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* 메인 콘텐츠 및 섹션 스타일 */
main {
  padding: 20px 40px;
}

section + section {
  margin-top: 40px;
}

h2 {
  color: #333;
}

/* 아티클 및 아이템 스타일 */
article {
  margin-top: 20px;
}

article img {
  max-width: 100%;
  height: auto;
}

/* 푸터 스타일 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
  background-color: #f3f4f4;
    border-top: 1px solid #C6C6C6;
  font-family: NanumBarunGothic;
  padding-top: 10px;
  width: 100%;
}

/* 반응형 웹 디자인: 화면 크기에 따라 일부 스타일 조정 */
@media (max-width: 600px) {
  header, main, footer {
    padding: 20px;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }
}
